* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    margin: 0;
}

/*Basen på alla sidor*/

.beerLogo{
  width: 10rem;
  height: 10rem;
}

.gridHeader{
    display: grid;
    grid-template-rows: repeat(autofill, 250px);
    grid-template-columns: 30%, 70%;
    grid-template-areas: 
    "one two"
    "one three";
  }

  .box1{
    grid-area: one;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 50%);
    background-color: whitesmoke;
  }

  .box2{
    grid-area: two;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
  }

  .box2 p {
    color: whitesmoke;
    text-align: center;
  }

  .box3{
    grid-area: three;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: lightgray;
  }

header h1 {
    font-size: 50px;
    letter-spacing: 2px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}
nav {
    box-sizing: border-box;
    word-spacing: 50px;
    text-align: center;
    padding: 30px;
}

nav > ul{
  display: flex;
  justify-content: center;
}

nav > ul >li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
    
nav > ul >li > a{
    position: relative;
    padding: 0px 10px 0px 10px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
nav > ul >li > a::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

nav > ul >li > a:hover {
    color: grey;
}

nav > ul >li > a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

nav .currentcolor{
  color: grey;
}

footer {
    height: 300px;
    background-color: #777574;
}
footer p {
     color: whitesmoke;
     text-align: center;
     padding-top:100px;
}

 /*Index styling*/
.mainIndex {
    display: grid;
    grid-template-rows: repeat(autofill, 250px);
    grid-template-columns: 50%;
    grid-template-areas: 
    "one two"
    "one three";
}

.mainBox1{
    grid-area: one;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 70%);
    border-style: solid;
    border-color: lightslategray;
    padding: 200px;
}

.mainBox2{
    grid-area: two;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: lightslategray;
    padding-top: 50px;
}

.mainBox2 p {
    text-align: center;
} 

.mainBox3{
    grid-area: three;
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(1, 70%);
    flex-direction: column;
    border-style: solid;
    border-color: lightslategray;
    padding-left: 30px;
}

 /*searchpage styling*/
.searchmain{
    display: grid;
    grid-template-columns: 25% 37.5% 37.5%;
    grid-template-rows: 300px 100px; 
    grid-template-areas: "a b b"
                         "a c c";
    column-gap: 10px;
    row-gap: 15px;
    padding-left: 5rem;
    padding-bottom: 2rem;
}

.fieldform{
  margin-top: 2rem;
  grid-area: a;
  background-color: #D9D9D9;
  border-style: solid;
  border-color: #D9D9D9;
  border-radius: 10px;
  box-shadow: 5px 10px 5px #8C8C8C;
}

.fieldform > form {
  box-sizing: border-box;
  width: 100%;
}

.fieldform > form h1 {
  text-align: center;
}

#searchresults{
  margin: 2rem 2rem 2rem 2rem;
  grid-area: b;
  display: flex row;
  column-count: 2;
  min-height: 300px;
}

#searchresults > ul > li{
  display: flex;
  margin-bottom: 10px;
  height: 35px;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 13px;
  list-style-type: none;
  align-content: start;   
  text-align: center;
  border: 2px solid #555555;
}

/* #searchresults > ul > li::marker{
  content: "🍺";
} */
#searchresults > ul > li:hover{
  background-color: #555555;
  color: white;
  cursor: pointer;
}

.searchButtons{
    grid-area: c;
    justify-self: center;
    display: flex;
}

.previous,.next{
    margin-top: 20px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    background-color: white;
    color: black;
    border: 2px solid #555555;
}
  
.first:hover,.previous:hover,.next:hover{
    background-color: #555555;
    color: white;
}

/*Landingpage styling*/
.randomFlex {
  display: flex;
  justify-content: space-evenly;
  
}

.randomBeer {
  background-color: #D9D9D9;
  border-style: solid;
  border-color: #D9D9D9;
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 5px 10px 5px #8C8C8C;
}

.randomBeer p {
  margin: 40px;
}

.flexBox {
  width: 500px;
  max-width: 1000px;
}

.hidden {
  display: none;
}

.random {
  margin-left: 40px;
  margin-bottom: 20px;
  height: 40px;
  width: 150px;
  background: grey;
  color: #ffffff;
  cursor: pointer;
  font-size: 1em;
  transition: ease-out 0.5s;
  border: 0;
  border-radius: 10px;
  width: auto;
  position: relative;
}
.random:hover{
  background: #2b2bff;
  transition: all 0.5s;
  border-radius: 10px;
  box-shadow: 0px 6px 15px #0000ff61;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
}

.randomCard {
  background-color: #D9D9D9;
  border-style: solid;
  border-color: #D9D9D9;
  padding: 40px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 5px 10px 5px #8C8C8C;
}

.randomCard > h2{
  margin: 0 0 1rem 0;
}

.randomCard > img{
  width: 70px;
  height: 300px;
  object-fit: fill;
}

.btnInfoCard{
  background: grey;
  color: #ffffff;
  cursor: pointer;
  font-size: 1em;
  padding: 0.5rem;
  border: 0;
  transition: all 0.5s;
  border-radius: 10px;
  width: auto;
  position: relative;
  float: right;
  margin-top: 17rem;
}

.btnInfoCard:hover{
  background: #2b2bff;
  transition: all 0.5s;
  border-radius: 10px;
  box-shadow: 0px 6px 15px #0000ff61;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
}

/*Beer Info Grid*/
.beerInfoGrid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(5, auto);
  padding: 20px;
  column-gap: 200px;
}
.beerImg {
  grid-column: 3/4;
  grid-row: 1/2;
}
.beerName {
  grid-column: 1/4;
  grid-row: 1/2;
}
.beerInfo {
  grid-column: 3/4;
  grid-row: 2/3;
}
.alcoholByVolume {
  grid-column: 3/4;
  grid-row: 4/5;
}
.volume {
  grid-column: 3/4;
  grid-row: 3/4;
}
 .hops {
  grid-column: 3/4;
  grid-row: 5/6;
}
.beerDesc {
  grid-column: 1/2;
  grid-row: 2/4;
}
.foodPairing {
  grid-column: 1/2;
  grid-row: 45;
}
.brewersTips {
  grid-column: 1/2;
  grid-row: 5/6;
}
.background{
  background-color: whitesmoke;
}